.DS_Store
.vscode
.idea
.pio
cmake-build-esp32cam
cmake-build-debug
CMakeListsPrivate.txt
/CMakeLists.txt
*.elf
*.ino.cpp
network_settings.h
flash_info.h
doc
static_config.h
/test_desktop/build/
/test_reports/
