.DS_Store
.vscode
.idea
.pio

CMakeListsPrivate.txt
/CMakeLists.txt
*.elf
*.ino.cpp
network_settings.h
flash_info.h
doc
static_config.h
/test_desktop/build/
/test_reports/
/test_desktop/libs/
test_desktop/Testing/Temporary
cmake-build-*
__pycache__
